/* Defines colors */
:root {
    /* Defines polychrome */
    --sd-red: #ef4f4f;
    --sd-orange: #ef8f4f;
    --sd-yellow: #efef4f;
    --sd-green: #4fef4f;
    --sd-cyan: #4fefef;
    --sd-blue: #4f4fef;
    --sd-purple: #8f4f8f;
    --sd-magenta: #ef0fbf;
    --sd-pink: #ef8fbf;
    
    /* Defines monochrome */
    --sd-white: #efefef;
    --sd-gray: #8f8f8f;
    --sd-black: #1f1f1f;
}
